<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="tast" connectionString="Server=127.0.0.1;Database=tast;Uid=root;Port=33066;Pwd=aadmini;Pooling=True;Max Pool Size=20;Min Pool Size=1;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>